
.container {
    width: 80%;
    margin: 0 auto;
    /* outline: 1px dashed red; */
    overflow: hidden;
  }
  
  /* Global */
  
  h1,
  body {
    margin: 0;
  }
  html {
    background: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
  body {
    max-width: 1400px;
    background: lightblue;
    margin: auto;
  }
  
  .current {
    font-weight: bold;
    color: deeppink;
  }
  
  /* header */
  
  header {
    background: skyblue;
    color: whitesmoke;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: 3px solid salmon;
  }
  header .branding {
    float: left;
  }
  
  header nav {
    float: right;
    margin-top: 15px;
  }
  
  header ul {
    list-style: none;
  }
  
  header li {
    display: inline;
    padding: 0 20px;
  }
  
  header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: inherit;
  }
  
  header a:hover {
    color: pink;
  }
  
  header span {
    color: deeppink;
  }
  
  /* showcase */
  .showcase {
    min-height: 400px;
    background: url("https://picsum.photos/id/2/1500/500/?blur=4") no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  .showcase h1 {
    margin-top: 100px;
    font-size: 55px;
  }
  
  .showcase p {
    color: deeppink;
    width: 80%;
    font-size: 20px;
    margin: auto;
  }
  
  /* Newsletter */
  
  .newsletter {
    padding: 15px;
    background: lightskyblue;
    color: coral;
  }
  
  .newsletter h1 {
    float: left;
  }
  
  .newsletter form {
    float: right;
  }
  
  .newsletter input[type="email"] {
    width: 250px;
    height: 25px;
    padding: 4px;
    border-radius: 4px;
    border: none;
  }
  
  .newsletter button {
    height: 35px;
    background-color: coral;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 0 20px;
  }
  
  /* boxes */
  .boxes .box {
    float: left;
    width: 30%;
    padding: 12px;
    text-align: center;
  }
  
  .boxes {
    margin-top: 20px;
    margin: 0 center;
  }
  
  .box img {
    height: 100px;
  }
  
  /*about boxes */
  
  .about_boxes {
    /* margin-top: 20px; */
    margin: 0 center;
  }
  
  .about_box1 {
    float: left;
    width: 65%;
    margin-top: 5px;
  }
  
  .about_box1 h2{
    line-height: 0;
    
  }
  
  .about_Box1_child {
    background: khaki;
    color: deeppink;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 10px;
  }
  
  .about_box2 {
    margin-top: 40px;
    float: right;
    width: 30%;
    padding: 30px 15px;
    color: white;
    border-radius: 5px;
    background: violet;
  }
  
  /* footer */
  footer {
    padding: 20px;
    margin-top: 25px;
    color: whitesmoke;
    background-color: skyblue;
    text-align: center;
  }
  